<%= form_for article do |f|%>
            <div class="form-group p-t-15">
                <%=f.label :title, "タイトル"%>
                <%= f.text_field :title, class:"form-control"%>
            </div>

            <div class="form-group">
                    <%=f.label :body, "内容"%>
                <%= f.text_area :body,rows: 10, class:"form-control"%>
            </div>
    
            <%=f.submit class:"btn btn-primary"%>
            <%end%>