<!DOCTYPE html>
<div class="container">
        
    <div class="row">
    
    <% @article.each do |a|%>
    <%=link_to a do%>
    <div class="col-md-3 m-t-5 article-block ">
    
    <%= image_tag 'chill.jpg', class:"img-responsive padding-top-15"%>
    <div>
        <p class="title"><%=a.title%></p>
        <span class="p-b-15">
        <%=a.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
        </span>
        </div>
    </div>
    <%end%>
    <%end%>
    </div>
    <div class="row">
        <%=link_to "新規作成",new_article_path, class:" m-t-5 btn btn-primary"%>
    </div>
    </div>