<!DOCTYPE html>

<div class="container">

    <div class="col-md-12 m-t-5 article-block ">
        <h1 > 新規作成</h1>
        <%= image_tag 'chill.jpg', class:"article-image p-t-15"%>
        
        <div class="p-b-15">
            <%=render "form", article:@article%>
            
        </div>
    </div>
    
    </div>