<!DOCTYPE html>
      
<div class="container">

    <div class="col-md-12 m-t-5 article-block ">
            <h1 class="blog-title"> <%= @article.title %> </h1>
        <%= image_tag 'chill.jpg', class:"article-image p-t-15"%>
        
        <div class="p-b-15">
            <%=simple_format @article.body,class:"blog-body"%>
            
            <p class="text-right">
                <%=@article.created_at.strftime("%Y年%m月%d日 %H時%M分")%>
            </p>
        </div>

        <%=link_to "編集" ,edit_article_path(@article),class:"btn btn-primary",style:"margin-bottom:15px; margin-right:15px" %>
        <%=link_to "削除" ,article_path(@article),method: :delete,data: { confirm: '本当に削除してもよろしいですか？' },class:"btn btn-danger",style:"margin-bottom:15px" %>
    </div>
    
    </div>