@import "bootstrap-sprockets";
 @import "bootstrap";
 @import "articles";
 
body{
    background-color: #f5f5f5;
    
}
*{
    font-family: Noto Sans JP;
}

.f-mar{
    margin-top: 25px;
}

.error{
    background-color: #FF9872;
    font-size: 20px;
}

header{
    margin-bottom: 100px;
}