// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    font-family: Noto Sans JP;
}

.m-t-5{
    margin-top: 5%;
    
}

.title{
    font-size: 20px;
}

.bg-white{
    background-color: white;
}

.article-block{

background-color: white;
border: 1px solid #eeeeee;

}

.p-t-15{
    padding-top: 15px;
}
.p-b-15{
    padding-bottom: 15px;
}

a{
    color: #666666;
}

.article-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.blog-title{
    font-size:40px;
    padding-left: 35px;
    
}

.blog-body{
    font-size: 20px;
    padding-top:20px;
    padding-left: 50px;
}

.article-block h1{
    padding-left: 20px;
    font-size: 40px;
}