<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>D's BLOG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <header><nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">KobaD's BLOG</a>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
              <p class="navbar-text navbar-right">
                <%=link_to "新規作成" ,new_article_path%>
              </p>
            </div>
        </div>
      </nav></header>
      
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> text-center"><%= message %></div>
    <% end %>
        
    <%= yield %>

    <footer class="bg-danger f-mar ">
        <ul class="list-inline text-center py-2">
            <li class="list-inline-item">
              <a href="/articles/new" class="text-white">Let's</a>
            </li>
            <li class="list-inline-item">
              <a href="/articles/new" class="text-white">Make</a>
            </li>
            <li class="list-inline-item">
              <a href="/articles/new" class="text-white">Your Blog</a>
            </li>
          </ul>
        <div class="text-white text-center pb-4">
          <p class="h2"><%=link_to "KobaD's BLOG","/" %></p>
          <small class="small">&copy;KobaD's BLOG</small>
        </div>
        
      </footer>

  </body>
</html>
